<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" class="width=device-width, initial-size=1, maximum-scale=1, user-scalable=no">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="/public/css/styles.css"> -->
        <title>Hello World</title>
    </head>
        <nav class=" navbar navbar-inverse navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="navbar-header">
                <button type="button" class="d-md-block d-lg-none navbar-toggle" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="#" class="d-none d-lg-block navbar-brand text-bg-secondary">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav navbar-nav">
                        <a class="nav-link" href="">Link</a>
                    </li>
                    <li class="nav navbar-nav dropdown">
                        <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">Action</a></li>
                            <li><a class="dropdown-item" href="">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav navbar-nav">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
            
            
        </nav>
    <div class=" ">
        <body class=" text-center">
            <div class="bg-primary rounded-bottom-4">
                <h1 class=" text-light">Welcome!</h1>
            </div>
            <p class="text-body">This is gonna be a bumpy ride.</p>
            <button id="getData" type="button" class="btn btn-primary" onclick="javascript:getItem()" ontouchstart="javascript:getItem()">Get Data</button>  <!-- Get Data from MongoDB using API -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">name</th>
                        <th scope="col">handle</th>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <th id="n1">n1</th>
                        <th id="h1">h1</th>
                    </tr>
                </thead>
            </table>
        </body>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/public/js/index.js" ></script>
    <script>
        $(document).ready(function(){
            $('.dropdown-toggle').dropdown()
        });
    </script>
</html>
