<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-size=1, maximum-scale=1, user-scalable=no">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/styles.css">
        <title>Items</title>
    </head>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="d-md-block d-lg-none navbar-toggle" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/" class="d-none d-lg-block navbar-brand">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Add Items</a>
                        <ul class="dropdown-menu add-items">
                            <li><iframe class="dropdown-item" src="/items/add" title="Add Item" height="500px"></iframe></li>
                            
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">Action</a></li>
                            <li><a class="dropdown-item" href="">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
        
        
    </nav>    
    <div>
        <body class=" text-center">
            <div class="bg-primary rounded-bottom-4">
                <h1 class=" text-light">Items</h1>
            </div>
        </body>
    </div>
    <div>
        <% for( let index = 0; index < items.length; index++ ) { %>
            <figure class="figure m-1 rounded-4 hover-shadow">
                <img src="https://jackbkr-bs2205.azurewebsites.net/public/img/<%= items[index]._id %>.png" alt="<%= items[index].name %>" class="figure-img m-1" width="300px" height="300px">
                <figcaption class="figure-caption m-1 fs-4"><%= items[index].name %></figcaption>
                <button type="button" class="btn btn-secondary m-1">Add to basket</button>
            </figure>
        <% }; %>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/public/js/index.js" ></script>
    <script>
        $(document).ready(function(){
            $('.dropdown-toggle').dropdown()
        });
    </script>
</html>
